--- 
---

//Inter Ivanti Font Import ---------- //
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

//SCSS Partials ---------- //
@import '../_sass/normalize';
@import '../_sass/variables';
@import '../_sass/toggle';
@import '../_sass/header';
@import '../_sass/time-line';
@import '../_sass/content';

body {
    font-family: 'Inter', sans-serif;
    padding: 40px;
    @media only screen and (max-width: 1000px) {
        padding: 15px;
    }
}

main {
    display: flex;
    gap: 50px;
    @media only screen and (max-width: 700px) {
        justify-content: center;
    }
}