#content {
    @media only screen and (max-width: 700px) {
        padding-left: 20px;
        padding-top: 10px;
    }
}

.mobile-content {
    display: none;
    padding-left: 10px;
    @media only screen and (max-width: 700px) {
        display: block;
    }
}

.content-month-one {
    span {
        text-transform: uppercase;
    }
    h1 {
        font-size: 24px;
        color: $color-m-1-pod;
    }

    h2 {
        font-size: 24px;
        font-weight: 400;
        color: $color-m-1-pod;
    }
}

.content-month-two {
    span {
        text-transform: uppercase;
    }
    h1 {
        font-size: 24px;
        color: $color-m-2-pod;
    }

    h2 {
        font-size: 24px;
        font-weight: 400;
        color: $color-m-2-pod;
    }
}

.content-month-three {
    span {
        text-transform: uppercase;
    }
    h1 {
        font-size: 24px;
        color: $color-m-3-pod;
    }

    h2 {
        font-size: 24px;
        font-weight: 400;
        color: $color-m-3-pod;
    }
}

li {
    padding: 8px;
}

 
.content-month-one {
    &.forecast {
        h1 {
            color: $color-m-1-forecast;
        }

        h2 {
            color: $color-m-1-forecast;
        }
    }
}

.content-month-two {
    &.forecast {
        h1 {
            color: $color-m-2-forecast;
        }

        h2 {
            color: $color-m-2-forecast;
        }
    }
}

.content-month-three {
    &.forecast {
        h1 {
            color: $color-m-3-forecast;
        }

        h2 {
            color: $color-m-3-forecast;
        }
    }
}

