main {
    padding-top: 60px;
    display: none;
}

.time-line {
    width: 430px;
    min-width: 430px;
    @media only screen and (max-width: 700px) {
        width: 100%;;
    }
}

.month {
    position: relative;
    margin-bottom: 30px;
}

.month-marker {
    position: absolute;
    left: 10px;
    top: 3px;
    font-weight: bold;
    z-index: 999;
}

.month-one {
    border-left: 6px solid $color-m-1-pod;
    .week-num, .month-marker {
        color: $color-m-1-pod;
    }
}

.month-two {
    border-left: 6px solid $color-m-2-pod;
    .week-num, .month-marker {
        color: $color-m-2-pod;
    }
}

.month-three {
    border-left: 6px solid $color-m-3-pod;
    .week-num, .month-marker {
        color: $color-m-3-pod;
    }
}

.week {
    padding-left: 50px;
    padding-top: 20px;
    cursor: pointer;
    p {
        margin: 0px;
    }
    .week-content {
        height: 78px;
        display: flex;
        border-bottom: 1px solid #EBEBEB;
        div {
            margin-right: auto;
        }
        p:first-of-type {
           // margin-right: 30px;
            margin-bottom: 10px;
        }
        svg {
            width: 20px;
        }
    }
}

.week-four {
    padding-bottom: 0px;
    .week-content {
        border-bottom: none;
        padding-bottom: 0px;
    }
}

.week-num {
    padding-right: 20px;
}

.month-one {
    .week.active {
        background: $color-m-1-pod;
        color: #fff;
        position: relative;
        .week-num {
            color: #fff;
        }
        &:after {
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='99' viewBox='0 0 18 119' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L18 59.5L0 119V0Z' fill='%234e0389'/%3E%3C/svg%3E");        background-repeat: no-repeat;
            width: 18px;
            height: 99px;
            top: 0px;
            left: 422px;
            overflow: hidden;
            @media only screen and (max-width: 700px) {
                display: none;
            }
        }
    }
}

.month-two {
    .week.active {
        background: $color-m-2-pod;
        color: #fff;
        position: relative;
        .week-num {
            color: #fff;
        }
        &:after {
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='99' viewBox='0 0 18 119' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L18 59.5L0 119V0Z' fill='%23850a64'/%3E%3C/svg%3E");        background-repeat: no-repeat;
            width: 18px;
            height: 99px;
            top: 0px;
            left: 422px;
            overflow: hidden;
            @media only screen and (max-width: 700px) {
                display: none;
            }
        }
    }
}

.month-three {
    .week.active {
        background: $color-m-3-pod;
        color: #fff;
        position: relative;
        .week-num {
            color: #fff;
        }
        &:after {
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='99' viewBox='0 0 18 119' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L18 59.5L0 119V0Z' fill='%23b60f45'/%3E%3C/svg%3E");        background-repeat: no-repeat;
            width: 18px;
            height: 99px;
            top: 0px;
            left: 422px;
            overflow: hidden;
            @media only screen and (max-width: 700px) {
                display: none;
            }
        }
    }
}

//Alternate Colors 
.sales-leader, .sales-rep {
    &.forecast {

        .month-one {
            border-left: 6px solid $color-m-1-forecast;
            .week-num, .month-marker {
                color: $color-m-1-forecast;
            }
        }
        
        .month-two {
            border-left: 6px solid $color-m-2-forecast;
            .week-num, .month-marker {
                color: $color-m-2-forecast;
            }
        }
        
        .month-three {
            border-left: 6px solid $color-m-3-forecast;
            .week-num, .month-marker {
                color: $color-m-3-forecast;
            }
        }

        .month-one {
            .week.active {
                background: $color-m-1-forecast;
                color: #fff;
                position: relative;
                .week-num {
                    color: #fff;
                }
                &:after {
                    content: "";
                    position: absolute;
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='99' viewBox='0 0 18 119' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L18 59.5L0 119V0Z' fill='%23e61226'/%3E%3C/svg%3E");        background-repeat: no-repeat;
                    width: 18px;
                    height: 99px;
                    top: 0px;
                    left: 422px;
                    overflow: hidden;
                    @media only screen and (max-width: 700px) {
                        display: none;
                    }
                }
            }
        }
        
        .month-two {
            .week.active {
                background: $color-m-2-forecast;
                color: #fff;
                position: relative;
                .week-num {
                    color: #fff;
                }
                &:after {
                    content: "";
                    position: absolute;
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='99' viewBox='0 0 18 119' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L18 59.5L0 119V0Z' fill='%23ff4c0c'/%3E%3C/svg%3E");        background-repeat: no-repeat;
                    width: 18px;
                    height: 99px;
                    top: 0px;
                    left: 422px;
                    overflow: hidden;
                    @media only screen and (max-width: 700px) {
                        display: none;
                    }
                }
            }
        }
        
        .month-three {
            .week.active {
                background: $color-m-3-forecast;
                color: #fff;
                position: relative;
                .week-num {
                    color: #fff;
                }
                &:after {
                    content: "";
                    position: absolute;
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='99' viewBox='0 0 18 119' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L18 59.5L0 119V0Z' fill='%23ff7206'/%3E%3C/svg%3E");        background-repeat: no-repeat;
                    width: 18px;
                    height: 99px;
                    top: 0px;
                    left: 422px;
                    overflow: hidden;
                    @media only screen and (max-width: 700px) {
                        display: none;
                    }
                }
            }
        }
    }
}
